h2 {
  font-size: 1.6rem;
  margin: 0px;
  margin-top: 1rem;
  padding-bottom: 1em;
}
h3 {
  margin: 1em;
  padding: 0;
  color: #999;
  font-size: 1rem;
}
textarea {
  height: 10vh;
  width: 80vw;
  width: 100%;
  border: 1px solid white;
  font-size: 2em;
  /* background-color:#A2D2FF; */
  color: white;
  border-radius: 0.6em;
  box-shadow: 0.1em 0.1rem 0.1rem #b8e4f0;
  background: linear-gradient(#ff865e, #a2d2ff);
}
.create-form {
  width: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.create-form div {
  position: relative;
  margin: 1rem 0;
}

label {
  text-align: left;
  font-size: 1.2rem;
  margin: 0.5em 70% 0 0;
  color: white;
}

.create-submit-button {
  width: auto;
  padding: 16px;
  background-color: #a2d2ff;
  color: white;
  font-weight: 800;
  border-radius: 0.6em;
  box-shadow: 0.2em 0.2rem 0.2rem #b8e4f0;
  border: 1px solid white;
  background: linear-gradient(#ff865e, #a2d2ff);
  margin: 0 auto;
}

/* footer */
.footer {
  position: relative;
}
.footer-container {
  background-color: #ff865e;
  width: 100%;
  padding: 1rem;
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}
.footer-home-icon {
  width: 3em;
  /* filter: invert(80%) */
}
.footer-bookmark-icon {
  width: 3em;
  /* filter: invert(80%) */
}
.footer-create-icon.current {
  width: 3em;
  border-bottom: 2px solid white;
  /* filter: invert(80%) */
}
.footer-profile-icon {
  width: 3em;

  /* filter: invert(100%) */
}
/* .current{
  filter: invert(0%);
  text-align: center;
  text-decoration: underline;
  color: black;
} */
.footer a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  overflow: hidden;
}
.footer a:hover {
  border-bottom: 3px solid white;
}

.footer a:focus {
  border-bottom: 3px solid white;
}
